body{
    
}
.primary-background{
    background: #2196f3 !important;
}




/*profile togle*/ 

.profile-pic-box {
    position: relative;
    display: inline-block;
}

.profile-pic-icon{
     width: 150px;
    height: 150px;
    object-fit: cover;     
    border-radius: 50%;    
    border: 3px solid #ddd;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 28px;
    color: #0d6efd;
    background: white;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    display: none
}










.add-post-btn {
        border: 2px solid white;
        border-radius: 10px;
        padding: 6px 12px;
        display: inline-block;
        transition: all 0.3s ease;
        font-weight: 600;
    }

    .add-post-btn i {
        font-size: 18px;
        font-weight: 900; /* makes icon bold */
        transition: all 0.3s ease;
    }

    .add-post-btn:hover {
        background: white;
        color: #0d6efd;  /* Bootstrap primary color */
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(255,255,255,0.3);
    }

    .add-post-btn:hover i {
        transform: scale(1.2);
    }





