body{
    
}
.primary-background{
    background: #2196f3 !important;
}




/*profile togle*/ 

.profile-pic-box {
    position: relative;
    display: inline-block;
}

.profile-pic-icon{
     width: 150px;
    height: 150px;
    object-fit: cover;     
    border-radius: 50%;    
    border: 3px solid #ddd;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 28px;
    color: #0d6efd;
    background: white;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    display: none
}





